<!-- Hero Section-->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <h1>Agiboard lets you work more collaboratively and get more done</h1>
        <p class="lead">Rather than traditional software development, where you might spend several months or years on a
          project without showing it to the user, Agile is all about moving fast, releasing often, and reacting to the
          real needs of your users.<br>It’s a small change, but one that can have huge results.</p>
        <p><a href="#" class="btn btn-primary shadow mr-2">Discover More</a></p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2"><img
          src="https://image.freepik.com/vecteurs-libre/illustration-du-tableau-kanban-pour-methodologie-gestion-scrum-agile-travail-equipe_33099-569.jpg"
          alt="..." class="img-fluid"></div>
    </div>
  </div>
</section>
<!-- Services-->
<section>
  <div class="container">
    <h2>Services</h2>
    <p class="text-muted mb-5">Based on the Agile method, Agiboard allows you to create work spaces containing your
      projects. <br> We offer you the possibility to simplify the management of sprints. At your disposal a calendar
      showing your different tasks assigned to you. You can also add your collaborators with different permissions.
      Simplify your life with Agiboard!</p>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-magic-wand"></use>
        </svg>
        <h6>Our project</h6>
        <p class="text-muted">Our goal is to help you succeed in your projects! This is a second year engineering
          project.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-rocket"></use>
        </svg>
        <h6>Who are we ?</h6>
        <p class="text-muted">We are apprentices in the second year of engineering at the UTBM.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-paperclip"></use>
        </svg>
        <h6>Pratical links</h6>
        <p class="text-muted">
          <a href="https://github.com/AnthonyPierrat/agiboard-client">Code front-end</a>
          <br><a href="https://github.com/AnthonyPierrat/agiboard">Code back-end</a>
          <br><a href="https://www.utbm.fr">UTBM</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<div class="py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center text-md-left">
        <p class="mb-md-0">© 2019 Your company. All rights reserved. </p>
      </div>
    </div>
  </div>
</div>