<div class="row">
  <div class="col mb-4">
    <button data-toggle="modal" data-target="#modalProjectForm" type="button" class="btn btn-primary"><i
        class="fas fa-plus text-white mr-2"></i>New project</button>
  </div>
  <div *ngIf="workspace.projects && workspace.projects.length > 0">
    <div class="card-columns">
      <div class="card shadow-sm" *ngFor="let project of workspace.projects">
        <div class="card-header ">{{project.name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{project.description}}</h5>
          <div class="card-text">
            <div class="row">
              <div class="col">
                <span class="badge badge-secondary">Budget {{project.budget}}$</span>
              </div>
              <div class="col">
                <span *ngIf="!project.userProjects; else hasMember" class="badge badge-dark">Members 0</span>
                <ng-template #hasMember>
                  <span class="badge badge-dark">Members {{project.userProjects.length}}</span>
                </ng-template>
              </div>
            </div>
          </div>
          <a [routerLink]="['projects',project.id]" class="btn btn-outline-primary mt-3">See
            project</a>
          <p class="card-text mt-4"><small class="text-muted">end date {{project.endDate | date }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalProjectForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmitProject()">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-group">
                  <input [formControl]="projectNameCtrl" type="text" class="form-control" id="projectName"
                    aria-describedby="projectHelp" placeholder="Name">
                </div>
                <div *ngIf="projectNameCtrl.invalid && (projectNameCtrl.dirty || projectNameCtrl.touched)"
                  class="alert alert-danger p-2">
                  <div *ngIf="projectNameCtrl.errors.required">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input [formControl]="projectDescriptionCtrl" type="text" class="form-control" id="projectDescription"
                    placeholder="Description">
                </div>
                <div
                  *ngIf="projectDescriptionCtrl.invalid && (projectDescriptionCtrl.dirty || projectDescriptionCtrl.touched)"
                  class="alert alert-danger p-2">

                  <div *ngIf="projectDescriptionCtrl.errors.required">
                    Description is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input [formControl]="projectBudgetCtrl" type="text" class="form-control" id="projectBudget"
                    placeholder="Budget">
                </div>
                <div *ngIf="projectBudgetCtrl.invalid && (projectBudgetCtrl.dirty || projectBudgetCtrl.touched)"
                  class="alert alert-danger p-2">

                  <div *ngIf="projectBudgetCtrl.errors.required">
                    Budget is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input [formControl]="projectStartDateCtrl" type="date" class="form-control" id="projectStartDate">
                </div>
                <div
                  *ngIf="projectStartDateCtrl.invalid && (projectStartDateCtrl.dirty || projectStartDateCtrl.touched)"
                  class="alert alert-danger p-2">

                  <div *ngIf="projectStartDateCtrl.errors.required">
                    Start Date is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input [formControl]="projectEndDateCtrl" type="date" class="form-control" id="projectEndDate">
                </div>
                <div *ngIf="projectEndDateCtrl.invalid && (projectEndDateCtrl.dirty || projectEndDateCtrl.touched)"
                  class="alert alert-danger p-2">

                  <div *ngIf="projectEndDateCtrl.errors.required">
                    End Date is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]="!projectForm.valid" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>