/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.full-page {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body { 
    background-color: #fafafa !important;
}