<form class="w-25 p-3">
    <div>
      <label for="selectSprint">Select a sprint</label>
      <select class="form-control" id="selectSprint"
              *ngIf="selectSprint"
              [(ngModel)]="selectSprint"
              (ngModelChange)="changeSprint($event)"
              name="titleSelectSprint">
        <option *ngFor="let sprint of sprints"
                [value]="sprint.id">{{sprint.name}}</option>
      </select>
    </div>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Members</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Last update</th>
    </tr>
  </thead>
  <tbody *ngIf="tasks">
    <tr *ngFor="let task of tasks">
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td>{{ Status[task.status] }}</td>
        <td>
          <div *ngFor="let member of task.members">{{member.name}}</div>
        </td>
        <td>{{task.creationDate | date : 'medium'}}</td>
        <td>{{task.lastUpdate | date : 'medium'}}</td>
    </tr> 
  </tbody>
</table>